
<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>
    </main>

    <section>
        <form method="POST" action="/admin/post/">
            <input type="text" id="titulo" name="servicio"><br>
            <textarea cols="30" rows="15" id="descripcion" name="descripcion">
                
            </textarea><br>
            <button type="submit">Crear</button>
        </form>
    </section>

<%- include('./templates/footer.ejs') %>