
<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>
    </main>

    <div class="servicios">
        <h2><%= data.servicio %></h2> <p class="right"><%= data.fecha %></p>
        <p><%= data.descripcion %></p>



        <a href="/admin/edit/<%= data._id %>">
            <button id="<%= data._id %>">
                Editar
            </button>
        </a>
        <a href="/admin/eliminar/<%=data._id %>">
            <button id="<%= data._id %>">
                Eliminar
            </button>
        </a>

     </div>

<%- include('./templates/footer.ejs') %>