<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>
    </main>
    
  <table class="table-intercalada">
    <thead>

        <tr>

        <th>
            Servicio 
        </th>
        <th>
            Descripción
        </th>

    </thead>
    <tbody>
        <tr>
            <td>
                servicio uno
            </td>
            <td>
                Cuando se juega al Juego de Tronos, solo se puede ganar o morir. (Cersei Lannister) 
            </td>
        </tr>
        <tr>
            <td>
                servicio dos
            </td>
            <td>
                Por qué será que en cuanto un hombre construye un muro, su vecino inmediatamente quiere saber qué hay del otro lado. (Tyrion Lannister) 
            </td>
        </tr>
        <tr>
            <td>
                servicio tres
            </td>
            <td>
                Los dioses no tienen piedad, por eso son dioses. (Cersei Lannister)
            </td>
        </tr>
        <tr>
            <td>
                servicio cuatro
            </td>
            <td>
                No es fácil estar borracho todo el tiempo. Si fuera fácil, todos lo harían. (Tyrion Lannister)
            </td>
        </tr>
    </tbody>
  </table>
<%- include('./templates/footer.ejs') %>