
<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>

    <div class="servicios">
        <h2><%= data.servicio %></h2> <p class="right"><%= data.fecha %></p>
        <p><%= data.descripcion %></p>





     </div>
    </main>
    

<%- include('./templates/footer.ejs') %>