<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>
<main>
    <h1> <%= title %></h1>
    <h2 class="center"><%= msg %></h2>
    <% scrapping.forEach(element => { %>
        <div class="servicios">
            <h2><%= element.servicios %></h2> <p class="right"><%= element.fechas %></p>
            <p class="description"><%= element.descripciones %></p>
    
            <a href="uno/<%= element.id %>">
                <button id="<%= element.id %>">
                    Leer más
                </button>
            </a>
            
    
         </div>
    <% }) %>
</main>

<%- include('./templates/footer.ejs') %>