<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>
    </main>
    
    <form method="POST" action="/comprobar/">
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="pass" ><br>
        <button type="submit">
            entrar
        </button>
    </form>

<%- include('./templates/footer.ejs') %>