
<%- include('./templates/header.ejs') %>
<%- include('nav.ejs') %>

<main>
    <h1><%= titulo%></h1>
    <p><%= msg%></p>
    </main>
    <img src="https://img.devrant.com/devrant/rant/r_1136236_Nj4gM.jpg" class ="imgFront">


<%- include('./templates/footer.ejs') %>